#ToolIcon{
    width: 50px;
	height: 50px;
    border-radius: 50%;
    border: none;
	overflow: show;
	position: absolute;
	top: calc(50% - 300px);
    left: calc(50% - 450px);
    background: rgba(255, 1, 242, 0.7);
    -webkit-text-fill-color: seashell;
    z-index: 1;
}
#Pen{
    width: 50px;
	height: 50px;
	border-radius: 50%;
	overflow: show;
	position: absolute;
	top: calc(50% - 300px);
    left: calc(50% - 400px);
    z-index: 1;
}
#Eraser{
    width: 50px;
	height: 50px;
	border-radius: 50%;
	overflow: show;
	position: absolute;
	top: calc(50% - 300px);
    left: calc(50% - 350px);
    z-index: 1;
}
#Clear{
    width: 50px;
	height: 50px;
	border-radius: 50%;
	overflow: show;
	position: absolute;
	top: calc(50% - 300px);
    left: calc(50% - 300px);
    z-index: 1;
}