<mat-card id="mainBar">
    <img id="logo"src="./../assets/title.png" alt="Drawing Room" height="60" width="250"/>
    <mat-card-content>
      
    <button mat-raised-button (click)="newRoom()" color="primary">
        New Room
     </button>

      <button mat-raised-button (click)="invite()" color="primary">
         Invite
      </button>

      <button mat-button onclick=" window.open('https://github.com/kevinh091/DrawCoop','_blank')" id="githubReport"> 
          <img src="./../assets/github.png" height="50"/>
      </button>


  
    </mat-card-content>
  </mat-card>