.room-view{
    position: absolute;
    bottom:1%;
    right:0;
	background: rgba(230, 230, 230, 0.7);
	border-radius: 3px;
	width: 210px;
	height: 315px;
	border: 2px solid rgb(59, 132, 201);
    margin: 30px 15px 30px 15px;
    overflow-x: hidden;
    z-index: 52;
}
#person{
    position: relative;
    margin: -3px;
    height: 34px;
    width: 210px;
    background: transparent;
    border: 2px solid rgb(59, 132, 201);
    display: inline-block;
}
.names{
    height: 35px;
    top: 8px;
    left: 3px;
    font-size:18px;
    position: absolute;
}
.yourname{
    position: relative;
    margin: 0;
    height: 35px;
    width: 210px;
    color: rgb(179, 214, 194);
    background: rgba(7, 41, 46, 0.7);
    border: 2px solid rgb(59, 132, 201);
    display: inline-block;
}
.yourname input[type="text"]{
    border: none;
	border-bottom: 1px solid #fff;
	background: transparent;
	outline: none;
    height: 30px;
    width: 150px;
	color: #fff;
	font-size: 16px;
}
.change-buttom{
    position: absolute;
    right:5px;
    top:3px;
    height: 30px;
    width: 55px;
    border: none;
    border-radius: 20%;
    background: rgba(60,120,200,0.8);
    color: rgb(179, 214, 194);
}

.location{
    position: absolute;
    right:4px;
    top:3px;
    height: 30px;
    width: 40px;
    border: none;
    border-radius: 20%;
    background: rgba(207, 30, 89, 0.8);
    color: rgb(179, 214, 194);
}